In [2]:
import pandas as pd
import os
import csv
os.chdir('Resources/')

In [3]:
df1 = pd.read_csv('0_Raw_Data_1.csv')
df1.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289.0,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180.0,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283.0,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214.0,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195.0,0,Normal,122,N,0.0,Up,0

In [4]:
df1['Sex'] = df1['Sex'].replace({'F': 'Female', 'M': 'Male'})
df1['ChestPainType'] = df1['ChestPainType'].replace({'TA': 'Typical Angina', 'ATA': 'Atypical Angina', 'NAP': 'Non-anginal Pain', 'ASY': 'Asymptomatic'})
df1['FastingBloodSugar'] = df1['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df1['RestingECG'] = df1['RestingECG'].replace({'ST': 'Abnormal ST-T Wave', 'LVH': 'LV Hypertrophy'})
df1['ExerciseAngina'] = df1['ExerciseAngina'].replace({'N': 'No', 'Y': 'Yes'})
df1['ST_Slope'] = df1['ST_Slope'].replace({'Up': 'Upsloping', 'Down': 'Downsloping'})
df1['HeartDisease'] = df1['HeartDisease'].replace({0: 'No', 1: 'Yes'})
df1.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,Male,Atypical Angina,140,289.0,No,Normal,172,No,0.0,Upsloping,No
1,49,Female,Non-anginal Pain,160,180.0,No,Normal,156,No,1.0,Flat,Yes
2,37,Male,Atypical Angina,130,283.0,No,Abnormal ST-T Wave,98,No,0.0,Upsloping,No
3,48,Female,Asymptomatic,138,214.0,No,Normal,108,Yes,1.5,Flat,Yes
4,54,Male,Non-anginal Pain,150,195.0,No,Normal,122,No,0.0,Upsloping,No

In [5]:
df2 = pd.read_csv('0_Raw_Data_2.csv')
df2.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df2['Sex'] = df2['Sex'].replace({0: 'Female', 1: 'Male'})
df2['ChestPainType'] = df2['ChestPainType'].replace({0: 'Typical Angina', 1: 'Atypical Angina', 2: 'Non-anginal Pain', 3: 'Asymptomatic'})
df2['FastingBloodSugar'] = df2['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df2['RestingECG'] = df2['RestingECG'].replace({0: 'Normal', 1: 'Abnormal ST-T Wave', 2: 'LV Hypertrophy'})
df2['ExerciseAngina'] = df2['ExerciseAngina'].replace({0: 'No', 1: 'Yes'})
df2['ST_Slope'] = df2['ST_Slope'].replace({0: 'Upsloping', 1: 'Flat', 2: 'Downsloping'})
df2['HeartDisease'] = df2['HeartDisease'].replace({0: 'No', 1: 'Yes'})
df2.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,63,Male,Asymptomatic,145,233,Yes,Normal,150,No,2.3,Upsloping,0,1,Yes
1,37,Male,Non-anginal Pain,130,250,No,Abnormal ST-T Wave,187,No,3.5,Upsloping,0,2,Yes
2,41,Female,Atypical Angina,130,204,No,Normal,172,No,1.4,Downsloping,0,2,Yes
3,56,Male,Atypical Angina,120,236,No,Abnormal ST-T Wave,178,No,0.8,Downsloping,0,2,Yes
4,57,Female,Typical Angina,120,354,No,Abnormal ST-T Wave,163,Yes,0.6,Downsloping,0,2,Yes

In [7]:
df2 = df2.drop(['NumMajorVessels', 'Thalassemia'], axis='columns')
df2.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,63,Male,Asymptomatic,145,233,Yes,Normal,150,No,2.3,Upsloping,Yes
1,37,Male,Non-anginal Pain,130,250,No,Abnormal ST-T Wave,187,No,3.5,Upsloping,Yes
2,41,Female,Atypical Angina,130,204,No,Normal,172,No,1.4,Downsloping,Yes
3,56,Male,Atypical Angina,120,236,No,Abnormal ST-T Wave,178,No,0.8,Downsloping,Yes
4,57,Female,Typical Angina,120,354,No,Abnormal ST-T Wave,163,Yes,0.6,Downsloping,Yes

In [8]:
df3 = pd.read_csv('0_Raw_Data_3.csv')
df3.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,HeartDisease
0,53,1,2,171,NaN,0,1,147,0,5.3,3.0,3,1
1,40,1,0,94,229.0,0,1,115,0,3.7,1.0,1,0
2,49,1,2,133,142.0,0,0,202,1,5.0,1.0,0,0
3,43,1,0,138,295.0,1,1,153,0,3.2,2.0,2,1
4,31,1,1,199,NaN,0,2,136,0,5.3,3.0,2,1

In [9]:
df3['Sex'] = df3['Sex'].replace({0: 'Female', 1: 'Male'})
df3['ChestPainType'] = df3['ChestPainType'].replace({0: 'Typical Angina', 1: 'Atypical Angina', 2: 'Non-anginal Pain', 3: 'Asymptomatic'})
df3['FastingBloodSugar'] = df3['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df3['RestingECG'] = df3['RestingECG'].replace({0: 'Normal', 1: 'Abnormal ST-T Wave', 2: 'LV Hypertrophy'})
df3['ExerciseAngina'] = df3['ExerciseAngina'].replace({0: 'No', 1: 'Yes'})
df3['ST_Slope'] = df3['ST_Slope'].replace({1: 'Upsloping', 2: 'Flat', 3: 'Downsloping'})
df3['HeartDisease'] = df3['HeartDisease'].replace({0: 'No', 1: 'Yes'})
df3.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,HeartDisease
0,53,Male,Non-anginal Pain,171,NaN,No,Abnormal ST-T Wave,147,No,5.3,Downsloping,3,Yes
1,40,Male,Typical Angina,94,229.0,No,Abnormal ST-T Wave,115,No,3.7,Upsloping,1,No
2,49,Male,Non-anginal Pain,133,142.0,No,Normal,202,Yes,5.0,Upsloping,0,No
3,43,Male,Typical Angina,138,295.0,Yes,Abnormal ST-T Wave,153,No,3.2,Flat,2,Yes
4,31,Male,Atypical Angina,199,NaN,No,LV Hypertrophy,136,No,5.3,Downsloping,2,Yes

In [10]:
df3 = df3.drop(['NumMajorVessels'], axis='columns')
df3.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,53,Male,Non-anginal Pain,171,NaN,No,Abnormal ST-T Wave,147,No,5.3,Downsloping,Yes
1,40,Male,Typical Angina,94,229.0,No,Abnormal ST-T Wave,115,No,3.7,Upsloping,No
2,49,Male,Non-anginal Pain,133,142.0,No,Normal,202,Yes,5.0,Upsloping,No
3,43,Male,Typical Angina,138,295.0,Yes,Abnormal ST-T Wave,153,No,3.2,Flat,Yes
4,31,Male,Atypical Angina,199,NaN,No,LV Hypertrophy,136,No,5.3,Downsloping,Yes

In [11]:
df4 = pd.read_csv('0_Raw_Data_4.csv')
df4.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,60,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,35,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,55,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,56,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
df4['Sex'] = df4['Sex'].replace({0: 'Female', 1: 'Male'})
df4['ChestPainType'] = df4['ChestPainType'].replace({0: 'Typical Angina', 1: 'Atypical Angina', 2: 'Non-anginal Pain', 3: 'Asymptomatic'})
df4['FastingBloodSugar'] = df4['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df4['RestingECG'] = df4['RestingECG'].replace({0: 'Normal', 1: 'Abnormal ST-T Wave', 2: 'LV Hypertrophy'})
df4['ExerciseAngina'] = df4['ExerciseAngina'].replace({0: 'No', 1: 'Yes'})
df4['ST_Slope'] = df4['ST_Slope'].replace({0: 'Upsloping', 1: 'Flat', 2: 'Downsloping'})
df4['HeartDisease'] = df4['HeartDisease'].replace({0: 'No', 1: 'Yes'})
df4.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,60,Male,Asymptomatic,145,233,Yes,Normal,150,No,2.3,Upsloping,0,1,Yes
1,35,Male,Non-anginal Pain,130,250,No,Abnormal ST-T Wave,187,No,3.5,Upsloping,0,2,Yes
2,41,Female,Atypical Angina,130,204,No,Normal,172,No,1.4,Downsloping,0,2,Yes
3,55,Male,Atypical Angina,120,236,No,Abnormal ST-T Wave,178,No,0.8,Downsloping,0,2,Yes
4,56,Female,Typical Angina,120,354,No,Abnormal ST-T Wave,163,Yes,0.6,Downsloping,0,2,Yes

In [13]:
df4 = df4.drop(['NumMajorVessels', 'Thalassemia'], axis='columns')
df4.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,60,Male,Asymptomatic,145,233,Yes,Normal,150,No,2.3,Upsloping,Yes
1,35,Male,Non-anginal Pain,130,250,No,Abnormal ST-T Wave,187,No,3.5,Upsloping,Yes
2,41,Female,Atypical Angina,130,204,No,Normal,172,No,1.4,Downsloping,Yes
3,55,Male,Atypical Angina,120,236,No,Abnormal ST-T Wave,178,No,0.8,Downsloping,Yes
4,56,Female,Typical Angina,120,354,No,Abnormal ST-T Wave,163,Yes,0.6,Downsloping,Yes

In [14]:
df5 = pd.read_csv('0_Raw_Data_5.csv')
df5.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [15]:
df5['Sex'] = df5['Sex'].replace({0: 'Female', 1: 'Male'})
df5['ChestPainType'] = df5['ChestPainType'].replace({1: 'Typical Angina', 2: 'Atypical Angina', 3: 'Non-anginal Pain', 4: 'Asymptomatic'})
df5['FastingBloodSugar'] = df5['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df5['RestingECG'] = df5['RestingECG'].replace({0: 'Normal', 1: 'Abnormal ST-T Wave', 2: 'LV Hypertrophy'})
df5['ExerciseAngina'] = df5['ExerciseAngina'].replace({0: 'No', 1: 'Yes'})
df5['ST_Slope'] = df5['ST_Slope'].replace({1: 'Upsloping', 2: 'Flat', 3: 'Downsloping'})
df5['HeartDisease'] = df5['HeartDisease'].replace({'Absence': 'No', 'Presence': 'Yes'})
df5.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,70,Male,Asymptomatic,130,322,No,LV Hypertrophy,109,No,2.4,Flat,3,3,Yes
1,67,Female,Non-anginal Pain,115,564,No,LV Hypertrophy,160,No,1.6,Flat,0,7,No
2,57,Male,Atypical Angina,124,261,No,Normal,141,No,0.3,Upsloping,0,7,Yes
3,64,Male,Asymptomatic,128,263,No,Normal,105,Yes,0.2,Flat,1,7,No
4,74,Female,Atypical Angina,120,269,No,LV Hypertrophy,121,Yes,0.2,Upsloping,1,3,No

In [16]:
df5 = df5.drop(['NumMajorVessels', 'Thalassemia'], axis='columns')
df5.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,70,Male,Asymptomatic,130,322,No,LV Hypertrophy,109,No,2.4,Flat,Yes
1,67,Female,Non-anginal Pain,115,564,No,LV Hypertrophy,160,No,1.6,Flat,No
2,57,Male,Atypical Angina,124,261,No,Normal,141,No,0.3,Upsloping,Yes
3,64,Male,Asymptomatic,128,263,No,Normal,105,Yes,0.2,Flat,No
4,74,Female,Atypical Angina,120,269,No,LV Hypertrophy,121,Yes,0.2,Upsloping,No

In [17]:
df6 = pd.read_csv('0_Raw_Data_6.csv')
df6.head()

,ID,Age,Sex,Dataset,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [18]:
df6['ChestPainType'] = df6['ChestPainType'].replace({'typical angina': 'Typical Angina', 'atypical angina': 'Atypical Angina', 'non-anginal': 'Non-anginal Pain', 'asymptomatic': 'Asymptomatic'})
df6['FastingBloodSugar'] = df6['FastingBloodSugar'].replace({False: 'No', True: 'Yes'})
df6['RestingECG'] = df6['RestingECG'].replace({0: 'Normal', 'normal': 'Normal', 'st-t abnormality': 'Abnormal ST-T Wave', 'lv hypertrophy': 'LV Hypertrophy'})
df6['ExerciseAngina'] = df6['ExerciseAngina'].replace({False: 'No', True: 'Yes'})
df6['ST_Slope'] = df6['ST_Slope'].replace({'upsloping': 'Upsloping', 'flat': 'Flat', 'downsloping': 'Downsloping'})
df6['HeartDisease'] = df6['HeartDisease'].replace({0: 'No', 1: 'Yes', 2: 'Yes', 3: 'Yes', 4: 'Yes'})
df6.head()

,ID,Age,Sex,Dataset,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,1,63,Male,Cleveland,Typical Angina,145.0,233.0,Yes,LV Hypertrophy,150.0,No,2.3,Downsloping,0.0,fixed defect,No
1,2,67,Male,Cleveland,Asymptomatic,160.0,286.0,No,LV Hypertrophy,108.0,Yes,1.5,Flat,3.0,normal,Yes
2,3,67,Male,Cleveland,Asymptomatic,120.0,229.0,No,LV Hypertrophy,129.0,Yes,2.6,Flat,2.0,reversable defect,Yes
3,4,37,Male,Cleveland,Non-anginal Pain,130.0,250.0,No,Normal,187.0,No,3.5,Downsloping,0.0,normal,No
4,5,41,Female,Cleveland,Atypical Angina,130.0,204.0,No,LV Hypertrophy,172.0,No,1.4,Upsloping,0.0,normal,No

In [19]:
df6 = df6.drop(['ID', 'Dataset', 'NumMajorVessels', 'Thalassemia'], axis='columns')
df6.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,63,Male,Typical Angina,145.0,233.0,Yes,LV Hypertrophy,150.0,No,2.3,Downsloping,No
1,67,Male,Asymptomatic,160.0,286.0,No,LV Hypertrophy,108.0,Yes,1.5,Flat,Yes
2,67,Male,Asymptomatic,120.0,229.0,No,LV Hypertrophy,129.0,Yes,2.6,Flat,Yes
3,37,Male,Non-anginal Pain,130.0,250.0,No,Normal,187.0,No,3.5,Downsloping,No
4,41,Female,Atypical Angina,130.0,204.0,No,LV Hypertrophy,172.0,No,1.4,Upsloping,No

In [20]:
df7 = pd.read_csv('0_Raw_Data_7.csv')
df7.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [21]:
df7['Sex'] = df7['Sex'].replace({0: 'Female', 1: 'Male'})
df7['ChestPainType'] = df7['ChestPainType'].replace({0: 'Typical Angina', 1: 'Atypical Angina', 2: 'Non-anginal Pain', 3: 'Asymptomatic'})
df7['FastingBloodSugar'] = df7['FastingBloodSugar'].replace({0: 'No', 1: 'Yes'})
df7['RestingECG'] = df7['RestingECG'].replace({0: 'Normal', 1: 'Abnormal ST-T Wave', 2: 'LV Hypertrophy'})
df7['ExerciseAngina'] = df7['ExerciseAngina'].replace({0: 'No', 1: 'Yes'})
df7['ST_Slope'] = df7['ST_Slope'].replace({0: 'Upsloping', 1: 'Flat', 2: 'Downsloping'})
df7['HeartDisease'] = df7['HeartDisease'].replace({0: 'No', 1: 'Yes'})
df7.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,NumMajorVessels,Thalassemia,HeartDisease
0,52,Male,Typical Angina,125,212,No,Abnormal ST-T Wave,168,No,1.0,Downsloping,2,3,No
1,53,Male,Typical Angina,140,203,Yes,Normal,155,Yes,3.1,Upsloping,0,3,No
2,70,Male,Typical Angina,145,174,No,Abnormal ST-T Wave,125,Yes,2.6,Upsloping,0,3,No
3,61,Male,Typical Angina,148,203,No,Abnormal ST-T Wave,161,No,0.0,Downsloping,1,3,No
4,62,Female,Typical Angina,138,294,Yes,Abnormal ST-T Wave,106,No,1.9,Flat,3,2,No

In [22]:
df7 = df7.drop(['NumMajorVessels', 'Thalassemia'], axis='columns')
df7.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,52,Male,Typical Angina,125,212,No,Abnormal ST-T Wave,168,No,1.0,Downsloping,No
1,53,Male,Typical Angina,140,203,Yes,Normal,155,Yes,3.1,Upsloping,No
2,70,Male,Typical Angina,145,174,No,Abnormal ST-T Wave,125,Yes,2.6,Upsloping,No
3,61,Male,Typical Angina,148,203,No,Abnormal ST-T Wave,161,No,0.0,Downsloping,No
4,62,Female,Typical Angina,138,294,Yes,Abnormal ST-T Wave,106,No,1.9,Flat,No

In [23]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7], axis='rows')
df

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,Male,Atypical Angina,140.0,289.0,No,Normal,172.0,No,0.0,Upsloping,No
1,49,Female,Non-anginal Pain,160.0,180.0,No,Normal,156.0,No,1.0,Flat,Yes
2,37,Male,Atypical Angina,130.0,283.0,No,Abnormal ST-T Wave,98.0,No,0.0,Upsloping,No
3,48,Female,Asymptomatic,138.0,214.0,No,Normal,108.0,Yes,1.5,Flat,Yes
4,54,Male,Non-anginal Pain,150.0,195.0,No,Normal,122.0,No,0.0,Upsloping,No
...,...,...,...,...,...,...,...,...,...,...,...,...
297,68,Female,Non-anginal Pain,120.0,211.0,No,Normal,115.0,No,1.5,Flat,Yes
298,44,Female,Non-anginal Pain,108.0,141.0,No,Abnormal ST-T Wave,175.0,No,0.6,Flat,Yes
299,52,Male,Typical Angina,128.0,255.0,No,Abnormal ST-T Wave,161.0,Yes,0.0,Downsloping,No
300,59,Male,Asymptomatic,160.0,273.0,No,Normal,125.0,No,0.0,Downsloping,No
301,54,Male,Typical Angina,120.0,188.0,No,Abnormal ST-T Wave,113.0,No,1.4,Flat,No

In [24]:
# df = df.dropna()

In [25]:
df.to_csv('1_CC_Structured_Data.csv', index=False)