In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA
from sklearn.ensemble import IsolationForest
import joblib
import os
os.chdir('Resources/')

In [2]:
df = pd.read_csv('4_Encrypted_Data.csv')
df.head()

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,743842338.0,299447850,239663492,430542296.0,213682545.0,102746448.0,62046250.0,123493660.0,592084377.0,0.0,929461776.0,0
1,933579027.0,792366684,179941807,960088105.0,170441534.0,102746448.0,62046250.0,950239232.0,592084377.0,108681802.0,524890275.0,1
2,255170652.0,299447850,239663492,91195515.0,188848698.0,102746448.0,728886294.0,585331119.0,592084377.0,0.0,929461776.0,0
3,11929009.0,792366684,34997199,532843389.0,403259457.0,102746448.0,62046250.0,712258605.0,653892778.0,984500419.0,524890275.0,1
4,989272381.0,299447850,179941807,195315201.0,157952275.0,102746448.0,62046250.0,632499698.0,592084377.0,0.0,929461776.0,0

In [3]:
imputer = SimpleImputer(strategy='mean')
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
df_imputed

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,743842338.0,299447850.0,239663492.0,430542296.0,213682545.0,102746448.0,62046250.0,123493660.0,592084377.0,0.0,929461776.0,0.0
1,933579027.0,792366684.0,179941807.0,960088105.0,170441534.0,102746448.0,62046250.0,950239232.0,592084377.0,108681802.0,524890275.0,1.0
2,255170652.0,299447850.0,239663492.0,91195515.0,188848698.0,102746448.0,728886294.0,585331119.0,592084377.0,0.0,929461776.0,0.0
3,11929009.0,792366684.0,34997199.0,532843389.0,403259457.0,102746448.0,62046250.0,712258605.0,653892778.0,984500419.0,524890275.0,1.0
4,989272381.0,299447850.0,179941807.0,195315201.0,157952275.0,102746448.0,62046250.0,632499698.0,592084377.0,0.0,929461776.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4039,383850178.0,792366684.0,179941807.0,326422610.0,890842533.0,102746448.0,62046250.0,744200886.0,592084377.0,984500419.0,524890275.0,1.0
4040,877885673.0,792366684.0,179941807.0,238524675.0,509021528.0,102746448.0,728886294.0,362122334.0,592084377.0,265209081.0,524890275.0,1.0
4041,996824590.0,299447850.0,764059783.0,768070484.0,406290745.0,102746448.0,728886294.0,298237772.0,653892778.0,0.0,642382104.0,0.0
4042,194113489.0,299447850.0,34997199.0,960088105.0,480792286.0,102746448.0,62046250.0,871128372.0,592084377.0,0.0,642382104.0,0.0
4043,989272381.0,299447850.0,764059783.0,326422610.0,536886663.0,102746448.0,728886294.0,347544083.0,592084377.0,952154522.0,524890275.0,0.0

In [4]:
X = df_imputed.drop(['HeartDisease'], axis='columns')
X

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope
0,743842338.0,299447850.0,239663492.0,430542296.0,213682545.0,102746448.0,62046250.0,123493660.0,592084377.0,0.0,929461776.0
1,933579027.0,792366684.0,179941807.0,960088105.0,170441534.0,102746448.0,62046250.0,950239232.0,592084377.0,108681802.0,524890275.0
2,255170652.0,299447850.0,239663492.0,91195515.0,188848698.0,102746448.0,728886294.0,585331119.0,592084377.0,0.0,929461776.0
3,11929009.0,792366684.0,34997199.0,532843389.0,403259457.0,102746448.0,62046250.0,712258605.0,653892778.0,984500419.0,524890275.0
4,989272381.0,299447850.0,179941807.0,195315201.0,157952275.0,102746448.0,62046250.0,632499698.0,592084377.0,0.0,929461776.0
...,...,...,...,...,...,...,...,...,...,...,...
4039,383850178.0,792366684.0,179941807.0,326422610.0,890842533.0,102746448.0,62046250.0,744200886.0,592084377.0,984500419.0,524890275.0
4040,877885673.0,792366684.0,179941807.0,238524675.0,509021528.0,102746448.0,728886294.0,362122334.0,592084377.0,265209081.0,524890275.0
4041,996824590.0,299447850.0,764059783.0,768070484.0,406290745.0,102746448.0,728886294.0,298237772.0,653892778.0,0.0,642382104.0
4042,194113489.0,299447850.0,34997199.0,960088105.0,480792286.0,102746448.0,62046250.0,871128372.0,592084377.0,0.0,642382104.0
4043,989272381.0,299447850.0,764059783.0,326422610.0,536886663.0,102746448.0,728886294.0,347544083.0,592084377.0,952154522.0,524890275.0

In [5]:
Y = df[['HeartDisease']]
Y

      HeartDisease
0                0
1                1
2                0
3                1
4                0
...            ...
4039             1
4040             1
4041             0
4042             0
4043             0

[4044 rows x 1 columns]

In [6]:
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
df_scaled

,Age,Sex,ChestPainType,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaximumHeartRate,ExerciseAngina,Oldpeak,ST_Slope
0,0.974943,-0.574685,-0.171987,-0.076262,-0.929922,-0.520882,-0.620636,-1.341167,-0.826579,-1.031577,1.546232
1,1.540782,1.740083,-0.386234,1.803020,-1.078837,-0.520882,-0.620636,1.575614,-0.826579,-0.708126,-0.911406
2,-0.482387,-0.574685,-0.171987,-1.280554,-1.015446,-0.520882,1.566629,0.288208,-0.826579,-1.031577,1.546232
3,-1.207789,1.740083,-0.906213,0.286790,-0.277050,-0.520882,-0.620636,0.736012,1.226487,1.898429,-0.911406
4,1.706872,-0.574685,-0.386234,-0.911049,-1.121848,-0.520882,-0.620636,0.454620,-0.826579,-1.031577,1.546232
...,...,...,...,...,...,...,...,...,...,...,...
4039,-0.098635,1.740083,-0.386234,-0.445767,1.402108,-0.520882,-0.620636,0.848705,-0.826579,1.898429,-0.911406
4040,1.374691,1.740083,-0.386234,-0.757704,0.087178,-0.520882,1.566629,-0.499279,-0.826579,-0.242279,-0.911406
4041,1.729394,-0.574685,1.709249,1.121577,-0.266610,-0.520882,1.566629,-0.724665,1.226487,-1.031577,-0.197682
4042,-0.664474,-0.574685,-0.906213,1.803020,-0.010039,-0.520882,-0.620636,1.296509,-0.826579,-1.031577,-0.197682
4043,1.706872,-0.574685,1.709249,-0.445767,0.183141,-0.520882,1.566629,-0.550711,-0.826579,1.802164,-0.911406

In [7]:
df_scaled = pd.concat([df_scaled, Y], axis=1)
df_scaled.to_csv('5_Preprocessed_Data.csv', index=False)

In [8]:
joblib.dump(scaler, '5_Scaler.joblib')

['5_Scaler.joblib']